streamlit==1.35.0
yfinance==0.2.61
pandas==1.5.3
numpy==1.23.5
plotly==5.15.0
matplotlib==3.6.3
seaborn==0.12.2
cufflinks==0.17.3

scikit-learn==1.2.2
statsmodels==0.13.5
xgboost==2.1.4
tensorflow==2.12.0

# Safe version of setuptools to avoid distutils errors
setuptools>=65.5.0
